body {
	padding-top: 40px;
}

header {
	background: #fff;
	height: 40px;
}

img {
	width: 100%;
}
a, a:hover { 
	text-decoration: none;
	color: black; 
}

h1, h4 {
	font-weight: bold;
	text-transform: uppercase;
}

.upcase {
	font-weight: bold;
	text-transform: uppercase;
}

.pad {
	padding: 30px;
}

section {
	padding-top: 35px;
}

#sec1 {
	background: url("img/1.png");
	color: #fff;
	height: 710px;
}

#sec2 {
	color: #000;
	padding-left: 15%;
	padding-right: 15%;
}

#sec3 {
	background: #e4e3e3;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 30px;
}

footer {
	padding-top: 35px;
	background: #83d9dc;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 35px;
}

input {
	background: #83d9dc;
}

button.submit {
    background: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    border: none!important;
    padding: 5px;

.test { border: solid green 1px; }