body {
    padding-top: 40px;
	font-family: 'Nunito', sans-serif;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

header {
	background: #fff;
    height: 40px;
}

header > div {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0;
}

section {
    padding-top: 3%;
}

section:nth-of-type(1) {
    color: #fff;
    background: #80d8dc;
}

section:nth-of-type(1) h1{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: bold;
}

section:nth-of-type(1) h1 + div {
    max-width: 60rem;
    margin: auto;
    font-size: 28px;
    line-height: 30px;
}

section:nth-of-type(1) button {
    position: relative;
    background: #1f8be3;
    color: #fff;
    font-size: 22px;
    margin-bottom: -20%;
    z-index: 99;
    transition: 0.5s;
    border: none;
}

section:nth-of-type(1) button:hover {
    background: #1c59a2;
    color: #fff;
    transition: 0.5s;
}

section:nth-of-type(1) img {
    z-index: 1;
}

section:nth-of-type(2) {
    color: #292929;
}

section:nth-of-type(2) .row {
    margin: 40px -15px;
}

section:nth-of-type(1) > div, section:nth-of-type(2) > div, section:nth-of-type(3) > div, footer > div {
    max-width: 100rem;
}

section:nth-of-type(2) .text1, section:nth-of-type(3) h1  {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 44px;
}

section:nth-of-type(2) .text2 {
    font-size: 20px;
}

section:nth-of-type(2) .text3 {
    text-transform: uppercase;
}


section:nth-of-type(2) .text4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

section:nth-of-type(3) {
	background: #e4e3e3;
    font-size: 18px;
}

section:nth-of-type(3) .text2 {
    max-width: 450px;
    margin: 0 auto;
}

section:nth-of-type(3) .content, footer .content {
    padding-bottom: 30px;
}

footer {
	background: #83d9dc;
}

footer .content {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 70px;
}

footer .text1 {
    font-weight: bold;
    font-size: 18px;
}

footer ul {
    list-style-type: none;
    padding-left:0;
}

footer ul li {
    text-align: center;
    display: inline-block;
    background: rgba(0,0,0,0.2);
    color: #fff;
    line-height: 30px;
    margin: 0 4px;
    width: 30px!important;
    height: 30px!important;
    border-radius: 3px;
}

footer ul li:hover {
    background: #2a2a2a;
}

footer ul li:hover a {
    color: #fff;
}

footer .form-control {
    background: #83d9dc;
    border: 2px solid #000;
    border-radius: 0;
}

footer button {
    background: rgba(0,0,0,0.2);
    font-weight: bold;
	text-align: center;
	margin: 0;
	border: none !important;
	padding: 10px;
}

footer button:hover {
    background: #2a2a2a;
    color: #fff;
}

@media only screen and (max-width: 991px) {


    section:nth-of-type(2) .text1 {
        text-align: center;
    }

    section:nth-of-type(2) .text2 {
        text-align: center;
        margin-top: 10px;
    }

    section:nth-of-type(2) .row {
        margin-bottom: 20px;
    }

    footer > div {
        max-width: 70rem;
    }
}

@media only screen and (max-width: 767px) {
    section:nth-of-type(1) h1 {
        font-size: 30px;
        line-height: 32px;
    }

    section:nth-of-type(1) h1 + div {
        font-size: 20px;
        line-height: 22px;
    }

    section:nth-of-type(1) button {
        font-size: 18px;
    }

    section:nth-of-type(2) {
        padding-left: 5%;
        padding-right: 5%;
    }

    section:nth-of-type(2) .text1 {
        font-size: 30px;
        line-height: 32px;
    }

    section:nth-of-type(2) .text2 {
        font-size: 20px;

    }

    section:nth-of-type(2) .text4 {
        font-size: 14px;
        line-height: 16px;

    }

    section:nth-of-type(3) h1 {
        font-size: 30px;
        line-height: 32px;
    }
    footer > div {
        max-width: 50rem;
    }
    footer .content2 {
        text-align: center;
    }
}

@media only screen and (max-width: 476px) {
    section:nth-of-type(1) button {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 10px;
    }

    section:nth-of-type(2) .row {
        margin-bottom: 10px;
    }
}